<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>RealIsGamer Web de Videojuegos - Inicio</title>
        
    </head>
    <body>
        <header><img src="assets/logo.png"></header>
        <div id="all">
            
            <nav>
                <div id="inicio" class="nav-item">INICIO</div>
                <div id="noticias" class="nav-item">NOTICIAS</div>
                <div id="analisis" class="nav-item">ANALISIS</div>
                <div id="articulos" class="nav-item">ARTICULOS</div>
                <div id="contacto" class="nav-item">CONTACTO</div>
                <script src="app.js"></script>
            </nav>

            <div id="news">
                <div id="img1"><h1>#Analisis</h1><h2>Neon White</h2></div>
                <div id="img2"></div>
                <div id="img3"></div>
                <div id="img4"></div>
                
                <!--<div id="img1"><img  src="assets/foto1.jpg"></div>
                <div id="img2"><img  src="assets/foto2.jpg"></div>
                <div id="img3"><img  src="assets/foto3.jpg"></div>
                <div id="img4"><img  src="assets/foto4.jpg"></div>-->
                

            </div>
        </div>
    </body>
</html>
